* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

section {
  width: 100%;
  height: 100vh;
}

/* ---------------------- first view, lunchlist -------------------------- */

#lunch {
  position: relative;
  display: flex;
  flex-direction: row;
}

#foodco {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./img/anna-pelzer-IGfIGP5ONV0-unsplash.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
}

#foodcotitle {
  background-color: white;
  padding: 10%;
  width: 50%;
  margin: auto;
  font-size: 2.5rem;
  font-family: "Londrina Solid", cursive;
}

#foodcotitle img {
  width: 100%;
}

#foodcotitle p {
  margin: 30px 0 0 0;
  padding: 0;
}

#lunchlist {
  width: 50%;
  background-color: white;
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.meal-allergens {
  color: #fa7d09;
}
.meal-allergens p {
  margin: 0;
}

.meal-name {
  margin-right: 10px;
}
.meal-name p {
  margin: 0;
}
.meal-container {
  display: flex;
  flex-direction: column;
  border-bottom: 3px dashed #fa7d09;
  padding: 40px 40px;
}

.float-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.float-container:first-child {
  font-weight: 600;
}

.meal-container:last-child {
  border: none;
}

#title {
  color: #fa7d09;
  font-family: "Londrina Solid", cursive;
  font-size: 3rem;
  align-self: center;
  margin-left: 30px;
}

.metropolia_logo {
  width: 200px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.lists {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 5px;
}

.lists ul {
  padding: 0;
  margin: 0;
}

.lists ul li {
  list-style-type: none;
  text-align: left;
  padding-bottom: 15px;
  margin-right: 5px;
  margin-left: 5px;
}

#allergens {
  font-size: 1rem;
  align-self: center;
  width: 70%;
  margin-top: 60px;
}

/* ---------------------------- second view, bustimetable -------------------------------- */

#bustimes {
  position: relative;
  display: flex;
  font-family: "Inter", sans-serif; 
}

#busmap {
  width: 40%;
  height: 100vh;
}

#timetable {
  width: 60%;
  background-color: #007AC9;
  color: white;
  text-align: center;
  padding: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  display: flex;
  flex-direction: column;
} 

.hsl-data {
  font-size: 2rem;
  height: 80%;
  width: 100%;
}

.hsl-data tr:nth-child(even){
  background-color: #005b98;
  
}

.headers{
  font-weight: bold;
}

#time {
  font-size: 4rem;
  margin-bottom: 30px;
  margin-top: 0;
}

#map {
  width: 100%;
  height: 100%;
}

th, td {
  padding: 3px;
}

/* ---------------------------- third view, feedback -------------------------------- */

#feedback {
  display: flex;
  flex-direction: row;
  background-color: #d985d0;
  position: relative;
}

#teksti {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  font-size: 3rem;
}

#suomi {
  margin-bottom: 100px;
  width: 95%;
}

#suomi h1 {
  color: white;
  font-family: "Londrina Solid", cursive;
  letter-spacing: 4px;
  font-size: 6.5rem;
}

#suomi p {
  color: white;
}

#englanti {
  width: 95%;
}

#englanti h1 {
  color: black;
  font-family: "Londrina Solid", cursive;
  font-size: 6.5rem;
  letter-spacing: 4px;

}

#englanti p {
  color: black;
}

#qrcode {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

#qrcodeimg {
  width: 50%;
}
